*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 1.6em;
}
h2{
    font-size: 1.2em;
}
p{
    font-size: 0.9em;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    /* background :linear-gradient(rgb(47, 150, 163),rgb(48, 62, 143)); */
    background-image: url(./IMG_20210921_180823\ -\ Copy.jpg);
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    line-height: 2;
    color: white;
}

.input,button{
    background-color: #181717d0;
    color: white;
    cursor: pointer;
    outline: none;
    border:none;
    font-size: 0.7em;
    padding: 8px;
    border-radius: 12px;
}

.input{
    width: 60%;
    padding: 10px ;
}


button{
    margin: 0 20px;
    padding: 10px;
}


.card{
    background-color: #000000d0;
    padding: 2em;
    width: 100%;
    max-width: 430px;
    border-radius: 14px;
}

.temp-div{
    width: 100%;
}

.loading{
    display: none;
    margin: 20px 0;
}
